body{
    padding: 2em 0;
    background: #eee;
    font-size: 13px;
    line-height: 1.4;
    color: #222;
}

.container{
    width: 760px;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 1em;
    box-shadow: 0 0 10px #ccc;
}

h1{
    margin: 0;
    padding: 0.7em 1.5em 0.35em;
    background: #343434;
    color: #fff;
}

h3{
    margin: 0 0 15px -50px;
    border-bottom: dotted 1px #343434;
    text-decoration: underline;
    font-size: 1.1em;
    line-height: 1;
}

section{
    padding: 20px 30px 0 80px;
}

#profile .prop{
    width: 160px;
    float: left;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
}

#profile .value{
    display: block;
    margin-left: 180px;
}

#experience .job{
    overflow: hidden;
    margin-bottom: 1em;
}

#experience .company,
#experience .time{
    width: 160px;
    float: left;
    clear: left;
    text-align: right;
}

#experience .des{
    margin-left: 180px;;
}

#experience .company{
    font-weight: bold;
    font-size: 12px;
}

#experience .time{
    font-size: 12px;
}

#skills ul{
    padding: 0;
    list-style: none;
}

#skills li{
    margin-bottom: 0.75em;
    zoom: 1;
}

#skills .name{
    width: 160px;
    float: left;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    clear: left;
    display:block;
}

#skills .value{
    display: block;
    margin-left: 180px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

@media print{
    body{
        background: transparent;
    }
    .container{
        border: solid 1px #343434;
    }
    h1{
        padding-left: 30px;
        padding-bottom: 30px;
        background-color: transparent;
        color: inherit;
        font-size: 1.5em;
    }
}
